@import url('https://rsms.me/inter/inter-ui.css');

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter UI', sans-serif;
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-style: italic;
    font-weight: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

h2 {
    height: 100%;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: calc(100% - 80px);
    padding: 0 40px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backButtonCont {
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
}

.backButtonCont:hover {
    cursor: pointer;
}

main {
    position: fixed;
    margin: 100px 0;
    height: calc(100% - 200px);
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainInner {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: row;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.brbCont {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 300px;
    padding: 0 40px;
}

textarea {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'Inter UI', sans-serif;
    resize: none;
    border: none;
    outline: none;
}

textarea::placeholder { /* Chrome/Opera/Safari */
  color: black;
  opacity: 1;
}textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  opacity: 1;
}textarea::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}textarea:-ms-input-placeholder { /* IE 10+ */
  color: black;
  opacity: 1;
}textarea:-moz-placeholder { /* Firefox 18- */
  color: black;
  opacity: 1;
}

img {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    height: auto;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: calc(100% - 80px);
    padding: 0 40px;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    pointer-events: none;
}

footer h1:hover {
    cursor: pointer;
}

.grainCanv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 1;
    z-index: 2;
    background-color: rgba(255, 0, 0, 0);
}

/******************************************************************************/

.mainGrid {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

.gridInner {
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% - 40px);
    padding-left: 40px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.gridCont {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 60px;
}

.gridItem {
    width: calc((100%/3) - 80px);
    min-width: 300px;
    min-height: 250px;
    max-width: 500px;
    max-height: 400px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    margin-right: 40px;
    flex-grow: 1;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.gridItem:hover {
    background-color: grey;
    cursor: pointer;
}

/******************************************************************************/

.mainCustom {
    flex-direction: row;
    justify-content: center;
}

.customInner {
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.customDivider {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 40px 0;
    flex-grow: 0;
}

.customTextareaCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.customTextareaCont textarea {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    margin-left: 0;
    text-align: left;
    padding-left: 0;
    margin-top: 0;
    color: black;
    border-bottom: 4px solid black;
    padding-bottom: 8px;
    margin-bottom: 70px;
    flex-shrink: 1;
}

.customTextareaCont p {
    font-size: 1.5rem;
    margin-left: 40px;

}

.customSaveButtonCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.customSaveButton {
    padding: 10px 30px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.customSaveButton:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
