@import url('https://rsms.me/inter/inter-ui.css');

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter UI', sans-serif;
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-style: italic;
    font-weight: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

h2 {
    height: 100%;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: calc(100% - 80px);
    padding: 0 40px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backButtonCont {
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
}

.backButtonCont:hover {
    cursor: pointer;
}

main {
    position: fixed;
    margin: 100px 0;
    height: calc(100% - 200px);
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainInner {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: row;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.brbCont {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 300px;
    padding: 0 40px;
}

textarea {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'Inter UI', sans-serif;
    resize: none;
    border: none;
    outline: none;
}

textarea::placeholder { /* Chrome/Opera/Safari */
  color: black;
  opacity: 1;
}textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  opacity: 1;
}textarea::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}textarea:-ms-input-placeholder { /* IE 10+ */
  color: black;
  opacity: 1;
}textarea:-moz-placeholder { /* Firefox 18- */
  color: black;
  opacity: 1;
}

img {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    height: auto;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: calc(100% - 80px);
    padding: 0 40px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;
}

.fullScreenCont {
    height: 100%;
    width: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.fullScreenButton {
    height: 40px;
    width: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    pointer-events: all;
    display: flex;
}

.fullScreenButtonEnabled {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    pointer-events: all;
}

.fullScreenButton:hover {
    cursor: pointer;
}

.fullScreenButtonEnabled:hover {
    cursor: pointer;
}

.fullScreenButtonSq {
    height: calc(100%/3);
    width: calc(100%/3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: border 0.5s;
}

.fullScreenButton .fullScreenButtonSq.tl {
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.fullScreenButton .fullScreenButtonSq.tr {
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.fullScreenButton .fullScreenButtonSq.bl {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.fullScreenButton .fullScreenButtonSq.br {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

/***/

.fullScreenButtonEnabled .fullScreenButtonSq.tl {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.fullScreenButtonEnabled .fullScreenButtonSq.tr {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.fullScreenButtonEnabled .fullScreenButtonSq.bl {
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.fullScreenButtonEnabled .fullScreenButtonSq.br {
    border-top: 5px solid black;
    border-left: 5px solid black;
}

/***/

.fullScreenButton:hover .fullScreenButtonSq {
    border-width: 7px;
    transition: border 0.5s;
}

.fullScreenButtonEnabled:hover .fullScreenButtonSq {
    border-width: 7px;
    transition: border 0.5s;
}

.fullScreenButtonSqClear {
    height: calc(100%/3);
    width: calc(100%/3);
    margin-bottom: calc(100%/3);
}

footer img {
    display: none;
    opacity: 0;
    pointer-events: all;
    width: 40px;
    height: 40px;
    min-height: auto;
    max-width: 50px;
    max-height: 50px;
    padding: 0;
    margin: 0;
    transition: width 0.3s, height 0.3s, opacity 0.5s;
}

footer img:hover {
    cursor: pointer;
    width: 45px;
    height: 45px;
    transition: width 0.3s, height 0.3s;
}

footer h1:hover {
    cursor: pointer;
}

.grainCanv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 1;
    z-index: 100;
    background-color: rgba(255, 0, 0, 0);
}

/******************************************************************************/

.mainGrid {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

.gridInner {
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% - 40px);
    padding-left: 40px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.gridCont {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-right: 20px;
}

.gridItem {
    width: calc((100%/4));
    height: auto;

    min-width: 300px;
    max-width: 500px;

    margin-bottom: 40px;
    margin-right: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    color: black;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.gridItem:hover {
    cursor: pointer;
}

.gridItem:hover .gridItemDeleteButton {
    opacity: 1;
    transition: color 0.2s, opacity 0.5s;
}

.gridItemImage {
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.gridItemLabel {
    width: 100%;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gridItemLabel p {
    margin-left: 5px;
    font-size: 3rem;
    flex-grow: 1;
    width: auto;
    height: 100%;
}

.gridItemDeleteButton {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;
    opacity: 0;
    font-weight: lighter;
    transition: color 0.2s, opacity 0.5s;
    flex-shrink: 0;
    font-size: 4rem;
    text-align: right;
}

.gridItemDeleteButton:hover {
    color: red;
    transition: color 0.2s, opacity 0.5s;
}

/******************************************************************************/

.mainCustom {
    flex-direction: row;
    justify-content: center;
}

.customInner {
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.customDivider {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 40px 0;
    flex-grow: 0;
}

.customTextareaCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.customTextareaCont textarea {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    margin-left: 0;
    text-align: left;
    padding-left: 0;
    margin-top: 0;
    color: black;
    border-bottom: 4px solid black;
    padding-bottom: 8px;
    margin-bottom: 70px;
    flex-shrink: 1;
}

.customTextareaCont p {
    font-size: 1.5rem;
    margin-left: 40px;

}

.customSaveButtonCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.customSaveButton {
    padding: 10px 30px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.customSaveButton:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/******************************************************************************/

.aboutLinkCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.aboutLink {
    pointer-events: all;
    height: 40px;
    width:  40px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.aboutLink:hover {
    cursor: pointer;
    border: 5px double black;
}

.aboutPopupCont {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: url("close.png"), pointer;
    transition: 0.3s opacity;
    z-index: 99;
}

.aboutPopupContInner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.aboutCont {
    padding: 50px 50px 25px 50px;
    border: 5px solid black;
    background-color: white;
    max-width: 500px;
    font-size: 1.5rem;
}

.aboutCont:hover {
    cursor: default;
}

.aboutCont p {
    margin-bottom: 25px;
}

.aboutCont a {
    color: black;
    white-space: nowrap;
}

.aboutCont a:hover {
    color: black;
    text-decoration-style: dotted;
}

/******************************************************************************/

*:fullScreen, *:-webkit-full-screen, *:-moz-full-screen {
    background-color: rgba(255,255,255,0) !important;
}
